:root {
    --tomato: #ff4027;
    --cream: #fdefdd;
    --black: #000000;
    --baseline: 16px;
    --columns: 12;
    --gutter: 16px;
    --margin: 40px;
}

@font-face {
    font-family: 'terminal_grotesque';
    src: url('/assets/TerminalGrotesque/terminal-grotesque-webfont.eot');
    src: url('/assets/TerminalGrotesque/terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/TerminalGrotesque/terminal-grotesque-webfont.woff2') format('woff2'),
        url('/assets/TerminalGrotesque/terminal-grotesque-webfont.woff') format('woff'),
        url('/assets/TerminalGrotesque/terminal-grotesque-webfont.ttf') format('truetype'),
        url('/assets/TerminalGrotesque/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    background-color: var(--black);
    background-image: none;
    color: var(--cream);
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--gutter);
    margin: 0 var(--margin);
    position: relative;
}

@media (max-width: 767px) {
    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: var(--gutter);
        margin: 0 var(--margin);
        position: relative;
    }
}

/* Post Content */
.post-content {
    grid-column: 4 / 10;
    padding: 0 1.5rem;
    line-height: 1.6;
    font-family: 'elza text', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

@media (max-width: 767px) {
    .post-content {
        grid-column: 1 / 5;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .post-content {
  grid-column: 2 / 12;
}
}

  .post-content p{
font-size: 1.2rem;
  }

.post-content h2 {
    color: var(--tomato);
    line-height: 88.2%;
    letter-spacing: -5%;
    font-family: "plantin", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
}

@media (max-width: 767px) {
    .post-content h2 {
        font-size: 1.6rem;
    }
}

.post-title {
    color: var(--tomato);
    margin-bottom: 5rem;
    font-size: 7rem;
    line-height: 80%;
    font-family: "terminal_grotesque";
    font-weight: normal;
}

@media (max-width: 767px) {
    .post-title {
        font-size: 5rem;
    }
}

.date {
    color: var(--tomato);
    font-size: 1.2rem;
    font-weight: 500;
}

.post-content img {
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

/* Tags */
.post-tags {
    margin-top: 5rem;
    padding-bottom: 6rem;
}

.post-tags .tag {
    margin-right: 0.5rem;
    color: var(--tomato);
    text-decoration: underline;
    font-size: 0.9rem;
}
.row-blog{
      display: flex;
}

.column-blog{
  flex: 50%;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .column-blog {
    width: 100%;
  }
}