<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/blogpost.css">
  <link rel="stylesheet" href="https://use.typekit.net/wcl0try.css">
</head>
<body>

<body>
  <!-- Main Post Content -->
  <main class="content">
    <div class="post-content">
        <br>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="date">{{ page.date | date: "%d.%m.%Y" }}</div>
    {{ content }}
    <div class="post-tags">
      {% for tag in page.tags %}
        <a href="#" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>

<a class="home-button" href="/blog">
    <img src="/assets/Home_MedRes_cream.png" alt="Home">
  </a>

  </main>


  {% include sidebar.html %}

</body>
</html>